<?xml version="1.0" encoding="UTF-8" ?>
<!-- 官网地址 https://logback.qos.ch/manual/configuration.html
       此处是引用了一个 最基本的配置（可以通过官方文档 增加更多自定义配置）
        向console打印 打印级别是debug 方式是：时间 线程 具体的日志输出格式 -->
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>